@utility u-app-soft-transition {
  @apply transition-all duration-200 ease-in-out;
}

@utility u-app-hard-transition {
  @apply transition-all duration-500 ease-in-out;
}

@utility u-app-focus {
  @apply outline-none ring-app-contrast focus-visible:ring-2;
}
